<div [attr.data-step]="selectedStep" *ngIf="selectedStep">
  <form [formGroup]="stepTwoForm">
    <div class="cmp-steps-rating">
      <fieldset>
        <div class="iscrizioni-header w-100">
          <h3
            class="step-title d-flex align-items-center justify-content-between drop-shadow mb-3">
            <legend class="d-block d-lg-inline" data-element="feedback-rating-question">
              {{ 'form.other_details' | translate}}
            </legend>
            <span class="step">{{ selectedStep }}/{{ stepsLength }}</span>
          </h3>
        </div>
        <div class="cmp-steps-rating__body">
          <div class="form-group">
            <label for="inputWithHelp" #detailInputLabel>{{ 'form.detail' | translate}}</label>
            <input
              data-element="feedback-input-text"
              #detailInput
              formControlName="details"
              type="text"
              class="form-control"
              id="inputWithHelp"
              aria-describedby="inputWithHelpDescription"
              maxlength="200"
              data-focus-mouse="false"
              (focusin)='onFocusIn()'
              (focusout)="onFocusOut()"
            />
            <small id="inputWithHelpDescription" class="form-text">{{ 'form.other_details' | translate}}</small>
          </div>
        </div>
      </fieldset>
    </div>
  </form>
</div>
