@import "design-comuni-pagine-statiche/src/stylesheets/base/color";
@import "design-comuni-pagine-statiche/src/stylesheets/base/functions";
@import "design-comuni-pagine-statiche/src/stylesheets/base/mixins";
@import "design-comuni-pagine-statiche/src/stylesheets/base/reset";
@import "design-comuni-pagine-statiche/src/stylesheets/base/fonts";
@import "design-comuni-pagine-statiche/src/elements/headings/all";
@import "design-comuni-pagine-statiche/src/stylesheets/base/global";


//components
 @import "design-comuni-pagine-statiche/src/components/cmp-card/cmp-card";
 @import "design-comuni-pagine-statiche/src/components/cmp-info-button-card/cmp-info-button-card";
 @import "design-comuni-pagine-statiche/src/components/cmp-steps-rating/cmp-steps-rating";
 @import "design-comuni-pagine-statiche/src/components/cmp-radio-list/cmp-radio-list";
 @import "design-comuni-pagine-statiche/src/components/cmp-rating/cmp-rating";
 @import "design-comuni-pagine-statiche/src/components/partials/button/button";
 @import "design-comuni-pagine-statiche/src/components/partials/text-area/text.area";
 @import "design-comuni-pagine-statiche/src/components/cmp-info-radio/cmp-info-radio";
 @import "design-comuni-pagine-statiche/src/components/cmp-card-radio-list/cmp-card-radio-list";
 @import "design-comuni-pagine-statiche/src/components/cmp-card-teaser/cmp-card-teaser";



.iscrizioni-header .step {
 font-size: .875rem;
 font-weight: 600;
 line-height: 1.5;
 @media (min-width: 576px){
   font-size: .7777777778rem;
  }
 }

.rating>input:checked~label svg, .rating:not(:checked)>label:hover svg, .rating:not(:checked)>label:hover~label svg {
 fill: var(--bs-primary);
}
