<section>
  <div [ngTemplateOutlet]="selected ? selected.content : null"></div>
  <div>
    <div
      class="d-flex flex-nowrap pt-4 w-100 justify-content-center button-shadow"
      *ngIf="selectedIndex < 2">
      <button
        class="btn btn-outline-primary fw-bold me-4 mr-4 btn-back"
        cdkStepperPrevious
        *ngIf="selectedIndex > 0">
        {{ 'stepper.back' | translate}}
      </button>
      <button
        class="btn btn-primary fw-bold btn-next"
        cdkStepperNext
        (click)="OnchangeStep($event, selectedIndex)"
        *ngIf="selectedIndex < 1"
        [disabled]="disabled">
        {{ 'stepper.next' | translate}}
      </button>
      <button
        type="button"
        class="btn btn-primary fw-bold btn-next"
        cdkStepperNext
        (click)="OnchangeStep($event, selectedIndex, true)"
        *ngIf="selectedIndex == 1">
        {{ 'stepper.send' | translate}}
      </button>
    </div>
  </div>
</section>
